name: Action Test

on:
    workflow_dispatch:
    push:
        branches:
        - main
    pull_request:
        branches:
            main
    
    

jobs:
    test-action:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 1
            - name: Run Action
              uses: ./
              with:
                build-directory: ./test/build-metrics
                cdash: my.cdash.org
            
